---
import { Icon } from "astro-icon/components";
---

<div class="relative">
  <a
    href="https://api.whatsapp.com/send?phone=51945743060&text=%C2%A1Hola%20InvertiFast!%20Deseo%20m%C3%A1s%20informaci%C3%B3n.%20%F0%9F%92%B0%F0%9F%93%88"
    target="_blank"
    rel="noopener noreferrer"
    class="fixed bottom-10 right-10 animate-bounce"
  >
    <Icon name="wtsp" class="h-14 w-14 lg:h-20 lg:w-20" />
    <span
      class="absolute top-0 right-0 bg-secondary border text-white rounded-full w-6 h-6 flex items-center justify-center"
    >
      1
    </span>
  </a>
</div>
