---
import { Icon } from "astro-icon/components";
---

<nav class="w-full bg-secondary py-3">
  <div class="mx-auto flex max-w-7xl justify-between px-4">
    <span class="sr-only">Lote&deal</span>
    <Icon name="logomark" class="h-12 w-36" />
  </div>
</nav>
