.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* .title {
  font-weight: 900;
  font-size: 2em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: #101414;
  line-height: 1.9rem;
} */

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.title {
  color: rgb(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;

  font-weight: 900;
  font-size: 2em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: #101414;
  line-height: 1.9rem;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #04e1b2;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #04e1b2;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  color: #101414;

  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #04e1b2;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  color: #5d2486;
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease; /* Añadir transición suave */
}

.form_style:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #04e1b2;
}

.error_message {
  color: #a51010;
  font-weight: 600;
  margin: 5px 0;
  font-size: 0.6em;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

.bg-form {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 255, 233, 1) 100%
  );
}

.subscribe {
  position: relative;
  @apply bg-form;
  opacity: 0.9;
  padding: 20px 40px;
  border-radius: 45px;
  box-shadow: 0px 0px 60px 5px rgba(101, 39, 5, 0.4);
}

.subscribe .submit-btn {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #55dfb3;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: default;
  margin-bottom: 20px;
}

.subscribe .submit-btn:hover {
  background-color: #fff;
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='58' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎉</text></svg>")
      16 0,
    auto;
  color: #0e8f66;
  border: 2px solid #0e8f66;
  box-shadow: 5px 5px 0px #0e8f66;
}
