:root {
  --color-primary: #460808; /* Color principal de la marca */
  --color-secondary: hsl(0, 0%, 94%); /* Color secundario */
  --color-tertiary: hsl(220, 16%, 28%); /* Color terciario */

  --color-text-primary: #630000; /* Color texto principal */
  --color-text-secondary: rgb(180, 180, 185); /* Color del texto secundario */
  --color-text-offset: rgb(35, 43, 53); /* Color texto de contraste */

  --color-background-primary: #f0f0d6; /* Color fondo principal */
  --color-background-secondary: #f06f66; /* Color fondo secundario */
  --color-background-offset: #f0e0b7; /* Color fondo de contraste */

  --color-border: #57423f; /* Color de los bordes */
  --color-hover: rgba(255, 202, 84, 0.8); /* Color al hacer hover */
  --color-active: rgba(255, 202, 84, 0.6); /* Color al estar activo */

  --color-success: rgb(85, 218, 137); /* Color para mensajes de éxito */
  --color-error: rgb(255, 99, 91); /* Color para mensajes de error */
  --color-warning: rgb(255, 204, 102); /* Color para mensajes de advertencia */

  --color-icon: rgb(255, 255, 255); /* Color de los iconos */
  --color-icon-hover: rgb(
    184,
    184,
    184
  ); /* Color de los iconos al hacer hover */
  --color-icon-active: rgba(
    194,
    133,
    0,
    0.756
  ); /* Color de los iconos al estar activo */
}
