---
import "@styles/index.css";
import Header from "@components/shared/Header.astro";
import SocialLinks from "@components/shared/SocialLinks.astro";
import Footer from "@components/shared/Footer.astro";
import ButtonWtsp from "@components/shared/ButtonWtsp.astro";

import "@fontsource-variable/montserrat";
import ThemeEditor from "@/components/shared/ThemeEdit";
import ButtonTheme from "@/components/shared/buttons/ButtonTheme";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Description" />
    <meta name="keywords" content="keywords" />
    <meta name="author" content="Tu Nombre" />
    <title>Example - Landing</title>
  </head>
  <body
    class="text-base bg-primary text-primary selection:bg-secondary selection:text-secondary"
  >
    <!-- <SocialLinks /> -->
    <Header />
    <main>
      <slot />
    </main>
    <!-- <ThemeEditor client:load /> -->
    <ButtonTheme client:load />
    <ButtonWtsp />
    <!-- <Footer /> -->
    <style is:global>
      /* Reglas CSS para la barra de desplazamiento de la página */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      /* global */
      html {
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
